.header-text {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.game-container {
    width: 845px;
    height: 363px;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid aqua;
    border-radius: 5px;
    overflow: hidden;

    .dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
        background-color: cornflowerblue;
        margin: 6px; 
    }
}
